*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
}

.button {
  width: 100%;
  border: 1px solid #fff;
  padding: 5px 0;
  color: inherit;
  font-weight: 700;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 30px;
  width: 100%;
}

.result {
  inline-size: 711px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 40px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
}

.search-form__fieldset {
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-weight: inherit;
  font-size: inherit;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 39px;
}

.search-form__label {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:not(:has(input[type='text'])):hover {
  text-decoration: underline;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  appearance: none;
  inline-size: 229px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label-text {
  padding-left: 5px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__details .title {
  padding-bottom: 26px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__details .content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  inline-size: auto;
  block-size: 310px;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.content__list-item {
  padding: 2px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:not(:has(.content__card-link_current)):hover {
  text-decoration: underline;
}

.content__list-item:active {
  text-decoration: none;
  background-color: #545050;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.content__video-card-description-container {
  width: 100%;
  padding: 6px 2px;
}

.content__video-card-title {
  padding-bottom: 6px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}
